/* mail color: #212121; 
p- color: #757575;
footer adress color: #FFFFFF;
footer nav color: rgba(255, 255, 255, 0.6);
hero color: #FFFFFF
active color: #2196F3;*/

:root {
  --main-color: #212121;
  --text-color: #757575;
  --active-color: #2196f3;
  --hero-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --pbutton-color: #f5f4fa;
}
body {
  background-color: #ffffff;
  color: var(--main-color);
  font-family: Roboto, sans-serif;
}
/* .list {
    list-style: none; для отдельных */
ul {
  list-style: none;
}
/* site nav */
.site-nav .link {
  color: var(--main-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .linl:active {
  color: var(--active-color);
}
.site-nav .link.current {
  color: var(--active-color);
}
.adress-nav .alink {
  color: var(--text-color);
  text-decoration: none;
}
.adress-nav .alink:hover,
.adress-nav .alink:active {
  color: var(--active-color);
}
.site-nav .link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.adress-nav .alink {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navcont {
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
}
/* hero */

.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  color: var(--hero-color);
  background: #2f303a;
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  text-align: center;
  border: transparent;
  margin-bottom: 0px;

  color: var(--hero-color);
  background-color: var(--active-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  /* letter-spacing: 0.06em; */
  text-decoration: none;
}

/* quality */
.qualitycont {
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
}
.quality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.quality-text {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* work */
.work-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* team */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-maintitle {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  letter-spacing: 0.03em;
}
.team-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/* footer */

.footer {
  background-color: #2f303a;
}
.footer-address {
  color: var(--hero-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-color);
}

/* portfolio nav */
.nav-list:hover,
.nav-list:active {
  background-color: var(--active-color);
  color: var(--hero-color);
}
.nav-list {
  display: inline-block;
  border-radius: 4px;
  padding: 5px 22px;
  min-width: 38px;
  text-align: center;
  border: transparent;
  background-color: var(--pbutton-color);
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

/* example */
.example-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
